services:
  routerfw:
    image: ubuntu:24.04
    container_name: routerfw
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - "80:80"
      - "81:81"

    networks:
      wan_net: {}
      lan_net:
        ipv4_address: 10.10.0.254
      dmz_net:
        ipv4_address: 10.20.0.254
      internet_net:
        ipv4_address: 10.30.0.254
    volumes:
      - ./router/router-config:/router-config
      - ./router/router-entrypoint.sh:/router-entrypoint.sh
    command: ["/bin/bash", "/router-entrypoint.sh"]

  pc_lan:
    image: ubuntu:24.04
    container_name: pc_lan
    privileged: true
    networks:
      lan_net:
        ipv4_address: 10.10.0.10
    command: >
      bash -lc "
        apt-get update -y &&
        apt-get install -y iproute2 iputils-ping curl net-tools dnsutils nmap tcpdump traceroute netcat-openbsd &&
        ip route replace default via 10.10.0.254 &&
        tail -f /dev/null
      "

  pc_dmz:
    image: ubuntu:24.04
    container_name: pc_dmz
    privileged: true
    networks:
      dmz_net:
        ipv4_address: 10.20.0.10
    command: >
      bash -lc "
        apt-get update -y &&
        apt-get install -y iproute2 iputils-ping curl net-tools dnsutils nmap tcpdump traceroute netcat-openbsd &&
        ip route replace default via 10.20.0.254 &&
        tail -f /dev/null
      "

  pc_internet:
    image: ubuntu:24.04
    container_name: pc_internet
    privileged: true
    networks:
      internet_net:
        ipv4_address: 10.30.0.10
    command: >
      bash -lc "
        apt-get update -y &&
        apt-get install -y iproute2 iputils-ping curl net-tools dnsutils nmap tcpdump traceroute netcat-openbsd &&
        ip route replace default via 10.30.0.254 &&
        tail -f /dev/null
      "

  web_dmz:
    image: nginx:alpine
    container_name: web_dmz
    networks:
      dmz_net:
        ipv4_address: 10.20.0.20

  dvwa:
    image: ghcr.io/digininja/dvwa:latest
    container_name: dvwa
    networks:
      internet_net:
        ipv4_address: 10.30.0.20

networks:
  lan_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.0.0/24

  dmz_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.20.0.0/24

  internet_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.30.0.0/24

  wan_net:
    driver: bridge
