services:
  routerfw:
    image: ubuntu:24.04
    container_name: routerfw
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    command: tail -f /dev/null
    networks:
      wan_net: {}
      lan_net:
        ipv4_address: 10.10.0.254
      dmz_net:
        ipv4_address: 10.20.0.254
      internet_net:
        ipv4_address: 10.30.0.254
    volumes:
      - ./router/router-config:/router-config
  pc_lan:
    image: ubuntu:24.04
    container_name: pc_lan
    privileged: true
    command: ip route replace default via 10.10.0.254 && tail -f /dev/null
    networks:
      lan_net:
        ipv4_address: 10.10.0.10

  pc_dmz:
    image: ubuntu:24.04
    container_name: pc_dmz
    privileged: true
    command: ip route replace default via 10.20.0.254 && tail -f /dev/null
    networks:
      dmz_net:
        ipv4_address: 10.20.0.10

  pc_internet:
    image: ubuntu:24.04
    container_name: pc_internet
    privileged: true
    command: ip route replace default via 10.30.0.254 && tail -f /dev/null
    networks:
      internet_net:
        ipv4_address: 10.30.0.10

networks:
  lan_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.0.0/24

  dmz_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.20.0.0/24

  internet_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.30.0.0/24

  wan_net:
    driver: bridge

